.presentation {
    display: block;
    overflow: hidden;
    padding: 20px;
    border: 1px solid #ddd;
    margin-bottom: 30px;
    background-color: #f9f9f9;
    border-radius: 0px;
}

.presentation img {
    max-width: 400px;
    height: auto;
    border-radius: 0px;
    margin: 5px;
    transition: transform 0.3s ease-in-out; /* Smooth hover effect */
    float: left; /* Default float for all images */
}

.presentation:nth-child(odd) img {
    float: right;
}

.presentation img:hover {
    transform: scale(1.1); /* Enlarge image on hover */
}

.presentation-content {
    display: block;
}

.presentation-title {
    font-size: 1.1em;
    font-weight: bold;
    margin-bottom: 5px;
    clear: both; /* Ensure it appears below the image */
}

.presentation-abstract {
    font-size: 1em;
    margin-top: 10px;
}

.presentation-image-info {
    text-align: left;
    font-size: 0.9em;
    color: #777;
    margin-top: 2px;
    padding: 0;
}

.presentation-info {
    margin: 1px 0;
    line-height: 1.2;
}
